.header{
    height:60px;
    background-color: #131921;
    display: flex;
    align-items:center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    width: 100px;
    margin-left: 20px;
    object-fit: contain;
    margin-right: 20px;
    margin-top:18px;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
}

.header-option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.header-link{
    color: white;
    text-decoration: none;
}

.header-option1{
    font-size: 12px;
    font-weight: 400;
    font-family: Arial,sans-serif;
    cursor: pointer;
}

.header-option2{
    font-size: 14px;
    font-weight: 600;
    font-family: Arial,sans-serif;
    cursor: pointer;
}

.search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

.search > select{
    height: 41px;
    padding: 5px;
    font-size: 14px;
    font-family: Arial,sans-serif;
    border-radius: 2px 0 0 2px;
}

.searchIcon{
    padding: 5px;
    height: 38px !important;
    background-color: #fcba03;
    font-size: 3.2rem !important;
    padding: 5px; 
    border-radius: 0 5px 5px 0;
}

.searchInput{
    height: 38px;
    padding: 10px;
    border: none;
    width: 80%;
    
}

.searchInput :focus{
    border-color: lightsalmon;
}

.header-basket{
    display: flex;
    align-items: center;
}

.basket-count{
    margin-right: 10px;
    margin-left: 10px;
}

.extrasearch{
    background-color: #fff;
    color: #000;
    top: 50px;
    width: 440px;
}

.extrasearch a{
    text-decoration: none;
    color: #000;
}